.rightbar {
  flex: 2;
  max-width: 260px;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.rightbarWrapper {
  padding: 20px 0 20px 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.2);
}
.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.2);
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rightbarInfo {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.2);
}

.rightbarInfoItem {
  margin-bottom: 10px;
}
.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.rightbarInfoValue {
  font-weight: 300;
}
.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
